*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

html{
    background-color: hsl(217, 54%, 11%);
}

.container{
    min-height: 450px;
    width: 300px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(216, 50%, 16%);
    border: 1px transparent solid;
    border-radius: 10px;
    
}

.head{
    width: 260px;
    display: inline-block;
    margin: 15px 20px;
    border-radius: 10px;
}

h2{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.content{
    color: hsl(215, 32%, 27%);
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.price{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.price .nft{
    display: flex;
    margin-right: 70px;
}

.price .nft img{
    width: 10px;
    height: 15px;
    margin-right: 5px;
}

.price .nft p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.price .hour{
    display: flex;
}

.price .hour img{
    margin-right: 7px;
}
.price .hour p{
    color: hsl(215, 32%, 27%);
    font-weight: 500;
}

.border{
    border-top: 1px hsl(215, 32%, 27%) solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
}

.footer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 15px;
    outline: hsl(0, 0%, 100%) solid 1px;
    border-radius: 50%;
}
.footer p{
    color:hsl(215, 32%, 27%);
    font-weight: 500;
}

.footer p span{
    color:hsl(0, 0%, 100%);
}